<html>

<head>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
</head>
<body>
<!-- jQuery -->
<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Materialize CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

<script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>

<!-- Axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- Load our React component. -->
<!-- <script src="like_button.js"></script> -->
<!-- Script -->
<script src="/public/javascripts/main.js"></script>
<nav id="navbar">
    <div class="nav-wrapper" >
        <a href="#" class="tealFont brand-logo">Translato</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Nothing</a></li>
        </ul>
    </div>
</nav>

<div id="main-container" class="">

</div>




<script type="text/babel" src="/public/javascripts/script.js"></script>
<!-- Start Scripts -->
<script>




</script>
<!-- End Scripts -->
</body>

</html>




